html, body {
   margin: 0;
   padding: 0;
   background-color: black;

 }

.topnav {
  background-color: black;
  overflow: visible;
}

.topnav a {
  float: left;
  color: lightseagreen;
  text-align: center;
  padding: 14px 16px;
  text-decoration: blue;
  font-size: 17px;
}

.topnav a:hover {
  background-color: firebrick;
  color: white;
}

.topnav a.active {
  background-color: black;
  color: magenta;
}

.dropbtn {
  background-color: black;
  color: lightseagreen;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: firebrick;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown a.active {
  color: magenta;
}
.dropdown-content a {
  background-color: goldenrod;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: darkgoldenrod;}


.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: firebrick;}
.dropdown:hover .dropbtn {color: white;}